/* =========================
   Base Reset
========================= */
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}

/* =========================
   Color Variables
========================= */
:root{
   --black:#111111;
   --dark-gray:#333333;
   --light-gray:#f5f5f5;
   --white:#ffffff;
   --background:#fffcfa;
   --background2:#E7E3E0;
   
   --sage:#9CAF9F;
   --burnt-orange:#C65D1E;
   
   /* Kenway */
   
   --kenway-maroon: #900507; 
   --kenway-dark-maroon: #660507; 
   --kenway-sky-blue: #B3D1EB; 
   --kenway-grey: #58585B; 
   --kenway-salmon: #B45C45; 
   --kenway-blue: #407FC2; 
   --kenway-tan1: #E9EAE2; 
   --kenway-tan2: #F1F2EA;
   
   /* Parabola */
   
   --parabola-black:#181717;
   --parabola-darkgreen:#3C6255;
   --parabola-teal:#7CE9BD;
   
   /* Origami */
   
   --origami-blue:#224D78;
   --origami-light-blue:#346BC0;
}

/* =========================
   Body
========================= */

body{
   font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
   background:var(--background2);
   color:var(--black);
   line-height:1.6;
}

/* =========================
   Layout Container
========================= */

.container{
   max-width:1200px;
   margin:auto;
   padding:60px;
}

/* =========================
   Navigation
========================= */

nav{
   display:flex;
   justify-content:center;
   gap:30px;
   padding:25px 0;
   border-bottom:1px solid var(--light-gray);
}

nav a{
   text-decoration:none;
   color:var(--dark-gray);
   font-weight:500;
   letter-spacing:.5px;
   transition:.2s;
}

nav a:hover{
   color:var(--burnt-orange);
}

/* =========================
   Typography
========================= */

h1{
   font-size:2.5rem;
   margin-bottom:20px;
}

h2{
   margin-top:40px;
   margin-bottom:10px;
}

p{
   margin-bottom:20px;
   color:var(--dark-gray);
}

/* =========================
   Links
========================= */

a{
   color:#8E6250;
}

a:hover{
   color:#462521;
}

/* =========================
   Images
========================= */
img{
   max-width:100%;
   height:auto;
}

/* =========================
   Home Page Layout
========================= */

.home-section{
   display:flex;
   align-items:flex-start;
   gap:40px;
}

.profile-pic{
   width:320px;
   border-radius:8px;
}

.about-text{
   flex:1;
}

/* =========================
   Career Page Sections
========================= */

.timeline-section{
   min-height:100vh;
   display:flex;
   align-items:center;
   justify-content:center;
   padding:80px;
   opacity:0;
   transform:translateY(40px);
   transition:.6s;
}

.timeline-section.visible{
   opacity:1;
   transform:translateY(0);
}

/* =========================
   Section Content
========================= */

.content{
   max-width:700px;
   color:white;
}

.year{
   opacity:.8;
   margin-bottom:20px;
   color:white;
}

/* =========================
   Company Card
========================= */
.logo-container{
  /* display:flex; */
  align-items:center;
  justify-content:center;
  /* height:60px; */
}

.company-banner{
  display:block;
  margin:20px auto;
  /* width:80%; */
  /* max-width:500px; */
  /* height:auto; */
  width:auto;
  height: 230px;
}

.parabola-banner{
  /* width:60%; */
  height: 170px;
  padding:30px;
}

.company-card{
  display:flex;
  gap:20px;
  background:rgba(255,255,255,.12);
  padding:20px;
  border-radius:10px;
  margin:30px 0;
  align-items:flex-start;
}

.company-icon{
  width:70px;
  height:70px;
  object-fit:contain;
  background:white;
  padding:8px;
  border-radius:8px;
}

.company-card h4{
  margin-top:0;
}

.company-card p{
  color:white;
}

/* =========================
   Role
========================= */

.role-section{
   margin-top:40px;
}

.role-grid{
   display:grid;
   grid-template-columns:1fr 1fr;
   gap:20px;
   margin-top:20px;
}

.role-item{
   background:rgba(255,255,255,.12);
   padding:18px;
   border-radius:8px;
}

.role-item h5{
   margin-bottom:8px;
   font-size:1rem;
   font-weight:600;
   color:white;
}

.role-item p{
   margin:0;
   font-size:.95rem;
   color:rgba(255,255,255,0.85);
}

.role-section{
   margin-top:30px;
   width:100%;
}

/* =========================
   Section Backgrounds
========================= */

.kenway{
   background:linear-gradient(135deg,
   var(--kenway-dark-maroon),
   var(--kenway-maroon));
}

.kenway .role-section h3{
   color:var(--kenway-salmon);
}

.parabola{
   background:var(--parabola-black);
}

.parabola .role-item h5{
   color:var(--parabola-teal);
}

.origami2{
   background:var(--origami-blue);
}

.origami1{
   background:var(--origami-light-blue);
}

.origami1 .role-item h5,
.origami2 .role-item h5{
   color:#a9c8ff;
}

/* =========================
   Smooth Scrolling
========================= */

html{
   scroll-behavior:smooth;
}

/* =========================
   Footer
========================= */

footer{
   margin-top:60px;
   padding:30px 0;
   text-align:center;
   font-size:.9rem;
   color:var(--dark-gray);
   border-top:1px solid var(--light-gray);
}


/* =========================
   Where to find me page
========================= */

.find-me{
   padding:80px 10%;
   text-align:center;
}

.platform-grid{
   display:grid;
   grid-template-columns:repeat(3, 1fr);
   gap:30px;
   margin-top:40px;
}

.platform-card{
   position:relative;
   background:rgba(255,255,255,.05);
   border-radius:14px;
   padding:35px;
   text-align:left;
   transition:all .3s ease;
   backdrop-filter:blur(6px);
}

.platform-card:hover{
   transform:translateY(-8px);
}

.platform-logo{
   height:80px;
   margin-bottom:16px;
}

.platform-card h3{
   color:black;
   margin-bottom:10px;
}

.platform-card{
   display:block;
   text-decoration:none;
   color:inherit;
   position:relative;
   background:rgba(255,255,255,.05);
   border-radius:14px;
   padding:35px;
   transition:all .3s ease;
   cursor:pointer;
}

.platform-btn{
   opacity:0;
   transform:translateY(10px);
   transition:all .25s ease;
   margin-top:18px;
   font-size:.9rem;
   font-weight:500;
}

.platform-card:hover .platform-btn{
   opacity:1;
   transform:translateY(0);
}

.linkedin:hover{
   box-shadow:0 10px 35px rgba(10,102,194,.35);
}

.github:hover{
   box-shadow:0 10px 35px rgb(0, 0, 0);
}

.substack:hover{
   box-shadow:0 10px 35px rgba(255,103,0,.35);
}

.contact-section{
   margin-top:40px;
   text-align:center;
}

.contact-card{
   display:flex;
   align-items:center;
   gap:25px;
   background:rgba(255,255,255,.05);
   border-radius:14px;
   padding:30px 7px 30px 45px;
   margin:0 auto 0 auto;
   max-width:500px;
   text-decoration:none;
   color:inherit;
   transition:all .25s ease;
}

.contact-card:hover{
   transform:translateY(-6px);
   box-shadow:0 10px 35px rgba(100, 40, 126, 0.662);
}

.contact-logo{
   height:40px;
   width:auto;
}

.contact-text{
   text-align:left;
   display:flex;
   flex-direction:column;
}

.contact-text h3{
   margin-bottom:6px;
}

.contact-card .platform-btn{
   margin-left:auto;
}


/* =========================
   About Me page
========================= */
.about-main{
   display:flex;
   align-items:center;
   gap:50px;
   margin-bottom:80px;
}

.about-main-image{
   /* width:320px; */
   width:50%;
   border-radius:12px;
}

.about-main-text{
   flex:1;
}

.story-block{
   display:flex;
   align-items:center;
   gap:80px;
   margin:120px auto;
   max-width:1100px;
   padding:0 20px;
}

.story-block.reverse{
   flex-direction:row-reverse;
}

.story-image img{
   width:80%;
   max-width:520px;
   border-radius:6px;
}

.story-text{
   max-width:420px;
}

.story-number{
   font-size:60px;
   font-weight:300;
   letter-spacing:4px;
   display:block;
   margin-bottom:10px;
   color:#333;
}

.story-text h3{
   font-size:18px;
   letter-spacing:2px;
   text-transform:uppercase;
   margin-bottom:10px;
}

.divider{
   width:50px;
   height:1px;
   background:#aaa;
   margin:10px 0 18px 0;
}

.story-text p{
   line-height:1.6;
   color:#666;
   font-size:15px;
}
